.connection-form {
	border: 1px #777 solid;
	border-radius: 8px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	padding: 20px;
	background-color: #f6f6f6;
}

div.sub {
	max-height: 360px;
	overflow-y:auto;
	overflow-x:none;
	padding: 24px;
	margin: 4px;
	border: 1px #888 solid;
	border-radius: 4px;
}

.subtitle {
	text-align: center;
	font-variant: small-caps;
}

.panel {
	background-color: #f6f6f6;
}

div.admin-header {
	
}

div.admin-welcome {
	float:left;
}

div.disconnect {
	margin: 24px;
	float: right;
	font-size: 1.3em;
}